<div id='coming-soon' class='row background-coming-soon'>
  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
    <img src='assets/logo-b.png' alt='logo' class='coming-soon-logo'>
    <h2>Coming Soon...</h2>
  </div>
</div>
