html, body {
  height: 100%;
}

li {
  list-style-type: none;
}

h2 {
  font-family: Cochin !important;
  border-left: 3px solid #e74c3c;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 20px;
}

h3 {
  font-family: Cochin !important;
}

textarea {
  resize: none;
}

video {
  height: initial !important;
}

@media only screen and (max-width: 768px) {
  #container {
    width: 101%;
  }

  #sidebar {
    background: none;
  }

  .navbar-toggle {
    background: none !important;
  }

  a.navbar-brand {
    display: none;
  }

  nav.navbar .navbar-collapse {
    background: rgba(38, 41, 46, 0.7);
  }

  .home .slide-text {
    bottom: 0 !important;
    top: 8%
  }

  h1 {
    font-size: 30px !important;
  }

  #home-slide {
    height: 200px !important;
  }

  h2 {
    font-size: 25px !important;
  }

  .social-icon li a {
  width: 65px !important;
  }
}

.athelas {
  font-family: Athelas !important;
}

.slide-text h1 {
  font-size: 50px;
  font-family: Cochin !important;
}

.slide-text span {
  font-family: Athelas !important;
}

.btn-primary {
  color: #fff;
}

.drop-down {
  margin-top: 20px;
}

#new_subscribe {
  width: 70%;
  margin-left: 15%;
}

.submit-btn {
  width: 50%;
}

.left-sub-li {
  margin-left: 10px !important;
}

.left-sub-ul {
  margin-top: -10px;
}

.list li:before {
  content: '\f192' !important;
  color: #e74c3c !important;
}

.sub-ul li:before {
  margin-left: 40px;
  content: '\f105' !important;
  color: #fff !important;
}

.navbar-brand img {
  width: 100%;
  margin-top: -60px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.submit {
  background: #fff !important;
  color: #1A1E22 !important;
}

.submit:hover {
  background: #1A1E22 !important;
  color: #fff !important;
}

#leadership .teams {
  color: #85939b !important;
  background: #1E2226 !important;
  border: 1px solid #fff !important;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

#leadership h3 {
  color: #85939b !important;
}

#leadership .social a {
    color: #85939b !important;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    line-height: 28px;
    font-size: 16px;
    border: 1px solid #85939b !important;
}

#leadership .social a:hover {
    background: #fff !important;
    color: #000 !important;
}

.description, .sscroll {
  font-family: Cochin;
}

#quote-slider h3 {
  font-family: Athelas;
}

#quote-slider span {
  font-family: Cochin;
}

#quote-slider span strong{
  font-family: Engravers MT;
}

.desc span {
  font-weight: normal !important;
}

.ul-no-padding {
  padding: 0 !important;
}

body {
  background-color: #1A1E22 !important;
}

#coming-soon .coming-soon-logo {
  margin: 0 auto;
  display: block;
  width: 50%;
}

#coming-soon h2 {
  display: block;
  margin: 0 auto;
  border: none;
  text-align: center;
  font-size: 45px;
  color: #1395BA;
  text-transform: none;
}
