<div class="footer">
  <div class="container">
    <h3 class="text-muted">
      <i class="fa fa-twitter-square"></i>
      <i class="fa fa-facebook-square"></i>
      <i class="fa fa-linkedin-square"></i>
      <i class="fa fa-github-square"></i>
    </h3>
  </div>
</div>
